# Importando Bibliotecas

In [1]:
import pandas as pd
import numpy as np
import streamlit as st
import plotly.express as px
from streamlit_folium import folium_static
from PIL import Image

# Importando Data set

In [2]:
df = pd.read_csv('C:/Users/Ricardo Junior/Documents/repos/FTC_programacao_python/PA/dataset/zomato.csv')

In [3]:
# Criando uma copia do dataframe
df1 = df.copy()

# Limpeza dos dados

In [4]:
# Renomeando o nome das colunas
df1.columns = [
    "restaurant_id",
    "restaurant_name",
    "country",
    "city",
    "address",
    "locality",
    "locality_verbose",
    "longitude",
    "latitude",
    "cuisines",
    "average_cost_for_two",
    "currency",
    "has_table_booking",
    "has_online_delivery",
    "is_delivering_now",
    "switch_to_order_menu",
    "price_range",
    "aggregate_rating",
    "rating_color",
    "rating_text",
    "votes"
    ]

In [5]:
# Removendo as linhas vazias do data frame
df1 = df1.dropna(axis = 0)

# Remover as linhas duplicadas do dataframe
df1 = df1.drop_duplicates()

# Remover a colunas sem variação de valor do data frame
df1 = df1.drop('switch_to_order_menu', axis = 1)

In [6]:
# ALteração das colunas

COUNTRIES = {
    1: "India",
    14: "Australia",
    30: "Brazil",
    37: "Canada",
    94: "Indonesia",
    148: "New Zeland",
    162: "Philippines",
    166: "Qatar",
    184: "Singapure",
    189: "South Africa",
    191: "Sri Lanka",
    208: "Turkey",
    214: "United Arab Emirates",
    215: "England",
    216: "United States of America",
}

# Nome dos codigos

COLORS = {
    "3F7E00": "darkgreen",
    "5BA829": "green",
    "9ACD32": "lightgreen",
    "CDD614": "orange",
    "FFBA00": "red",
    "CBCBC8": "darkred",
    "FF7800": "darkred",
}

In [7]:
# Nomeando as faixas de preço

def create_price_tye(price_range):
    if price_range == 1:
        return "cheap"
    elif price_range == 2:
        return "normal"
    elif price_range == 3:
        return "expensive"
    else:
        return "gourmet"

In [8]:
def country_name(country):
    return COUNTRIES[country]

def color_name(rating_color):
    return COLORS[rating_color]

In [9]:
# Função para colocar o nome dos Paises
df1["country"] = df1.loc[:, "country"].apply(lambda x: country_name(x))

# Função para colocar o nome das Cores
df1["color_name"] = df1.loc[:, "rating_color"].apply(lambda x: color_name(x))

# Função para colocar o nome das faixas de cores
df1["price_type"] = df1.loc[:, "price_range"].apply(lambda x: create_price_tye(x))

# Função para Colocar todos os tipos de cosinhas como número 1
df1["cuisines_number"] = df1.loc[:, "cuisines"].apply(lambda x: x.split(",")[0])

In [10]:
# Reoarginazando as colunas
df1 = df1.reindex(columns=['restaurant_id','restaurant_name','country','city','address','locality','locality_verbose','longitude','latitude','cuisines','cuisines_number',
                          'average_cost_for_two','currency','has_table_booking','has_online_delivery','is_delivering_now','price_range','price_type','aggregate_rating',
                          'rating_color','color_name','rating_text','votes'])

In [11]:
df1.columns
df1.head(1)

,restaurant_id,restaurant_name,country,city,address,locality,locality_verbose,longitude,latitude,cuisines,...,has_table_booking,has_online_delivery,is_delivering_now,price_range,price_type,aggregate_rating,rating_color,color_name,rating_text,votes
0,6310675,Mama Lou's Italian Kitchen,Philippines,Las Piñas City,"Block 1, Lot 36, Tropical Avenue Corner Tropic...",BF International,"BF International, Las Piñas City",121.009787,14.447615,Italian,...,1,0,0,3,expensive,4.6,3F7E00,darkgreen,Excellent,619

# Descrição das Colunas


Restaurant ID
Restaurant Name
Country Code
City
Address
Locality
Locality Verbose
Longitude
Latitude
Cuisines
Average Cost for two
Currency
Has Table booking
Has Online delivery
Is delivering now
Switch to order menu
Price range
Aggregate rating
Rating color
Rating text
Votes

| Column | Description |
| :----- | :---------- |
| Restaurant ID | ID do restaurante | 
| Restaurant Name | Nome do Restaurante |
| Country Code | Código do País |
| City | Nome da Cidade onde o restaurante está |
| Address | Endereço do restaurante |
| Locality | Localização e pontos de referência do restaurante |
| Locality Verbose | Localização e pontos de referência do restaurante (Mais informações) |
| Longitude | Ponto geográfico de Longitude do Restaurante |
| Latitude | Ponto geográfico de Latitude do Restaurante |
| Cuisines | Tipos de Culinária servidos no restaurante |
| Average Cost for two | Preço Médio de um prato para duas pessoas no restaurante |
| Currency | Moeda do país |
| Has Table booking | Se o restaurante possui serviços de reserva; 1 - Sim; 0 - Não |
| Has Online delivery | Se o restaurante possui serviços de pedido on-line; 1 - Sim; 0 - Não |
| Is delivering now | Se o restaurante faz entregas; 1 - Sim; 0 - Não |
| Switch to order menu | - |
| Price range | Variação de preços do restaurante; 1 a 4 - Quanto maior o valor, mais caro serão os pratos |
| Aggregate rating | Nota média do restaurante |
| Rating color | Código Hexadecimal da cor do restaurante com base em sua nota média |
| Rating text | Categoria em que o restaurante está com base em sua nota média |
| Votes | Quantidade de avaliações que o restaurante já recebeu |

# VISÃO GERAL

## 1. Quantos restaurantes únicos estão registrados?

In [ ]:
# S - O número de restaurantes unicos
# P - Irei selecionar a coluna de restaurant_id e utlizarei o contador de itens 'nunique' para descobri a quantidade de restaurantes unicos
# E - Dataframe, e a coluna restaurant_id

In [17]:
aux = df1.loc[:, 'restaurant_id'].nunique()
print(f'Os restaurantes Unicos registradatos são: {aux}')

Os restaurantes Unicos registradatos são: 6929

## 2. Quantos países únicos estão registrados?

In [18]:
# S - O número de paises unicos
# P - Irei selecionar a coluna de country e utlizarei o contador de itens 'nunique' para descobri a quantidade de paises unicos
# E - Dataframe, e a coluna country

In [20]:
aux=df1.loc[:,'country'].nunique()
print(f'Os paises Unicos registradatos são: {aux}')

Os paises Unicos registradatos são: 15

## 3. Quantas cidades únicas estão registradas?

In [ ]:
# S - O número de cidades unicas
# P - Irei selecionar a coluna de city e utlizarei o contador de itens 'nunique' para descobri a quantidade de cidades unicas
# E - Dataframe, e a coluna city

In [22]:
aux=df1.loc[:,'city'].nunique()
print(f'Os cidades Unicas registradatos são: {aux}')

Os cidades Unicas registradatos são: 125

## 4. Qual o total de avaliações feitas?

In [ ]:
# S - onúmero de todos de todos os restaurates
# P - selecionar a coluna votes e utilizar a função 'sum' para somar todos os votos
# E - data frame e coluna votes

In [25]:
aux = df1.loc[:, 'votes'].sum()
print(f'O total de avaliações é {aux}')

O total de avaliações é 4194533

## 5. Qual o total de tipos de culinária registrados?

In [ ]:
# S - A quantidade de coluninarias unicas registradas
# P - Irei selecionar a coluna cuisines_number e utilizar a função nunique para saber quantas culinarias unicas o df possui
# E - data frame e coluna cuisines_number

In [28]:
aux = df1.loc[:, 'cuisines_number'].nunique()
print(f'O total de tipos de culinarias é {aux}')

O total de tipos de culinarias é 165

# Pais

## 1. Qual o nome do país que possui mais cidades registradas?

In [ ]:
# S - Irei entregar o nome do Pais que mais possui cidades registradas
# P - irei selecionar as colunas de 'country', 'city' e irei agrupar utilizando a função group bye pedir para mostrar os valores unicos por pais e 
#depois utilizarei um sort_values para selecionar do maior para o meno
# E - data frame e 'country', city'

In [14]:
aux = df1.loc[:,['country', 'city']].groupby(['country']).nunique()
aux1 = aux.sort_values(by='city', ascending=False).reset_index()
aux1
#aux1.iloc[0,0]

                     country  city
0                      India    49
1   United States of America    22
2                Philippines    12
3               South Africa    12
4                    England     5
5                 New Zeland     4
6       United Arab Emirates     4
7                  Australia     3
8                     Brazil     3
9                     Canada     3
10                 Indonesia     3
11                    Turkey     2
12                     Qatar     1
13                 Singapure     1
14                 Sri Lanka     1

## 2. Qual o nome do país que possui mais restaurantes registrados?

In [26]:
# S - Irei entregar o nome do Pais que mais possui restaurantes registradas
# P - irei selecionar as colunas de 'country', 'restaurant_id' e irei agrupar utilizando a função group bye pedir para mostrar os valores unicos por pais e 
#depois utilizarei um sort_values para selecionar do maior para o meno
# E - data frame e 'country', 'restaurant_id'

In [34]:
aux = df1.loc[:,['country', 'restaurant_id']].groupby(['country']).nunique()
aux1 = aux.sort_values(by='restaurant_id', ascending=False).reset_index()
aux1.iloc[0,0]

'India'

## 3. Qual o nome do país que possui mais restaurantes com o nível de preço igual a 4 registrados?

In [ ]:
# S - Irei entregar o nome do Pais que mais possui restaurantes com nivél igual a 4 resgistrados
# P - irei selecionar as colunas de 'country', 'restaurant_id' e 'price_range' 
# irei selecionar todas as linhas que possuem price_range = 4 e depois irei agrupar os restaurentes por pais;
# irei utilizar a função nunique para ficar somente os restaurantes unicos e depois irei utilizar o sort_values para ooderna
# E - data frame e 'country', 'restaurant_id', 'price_range'

In [61]:
aux = df1.loc[df1['price_range'] == 4,['country','restaurant_id','price_range']].groupby(['country']).nunique()
aux = aux.sort_values(by='restaurant_id', ascending=False).reset_index().iloc[0,0]
aux

'United States of America'

## 4. Qual o nome do país que possui a maior quantidade de tipos de culinária distintos?

In [62]:
# S - Irei entregar o nome do Pais que mais possui colinarias distintas
# P - irei selecionar as colunas de 'country',  'cuisines_number' 
# Irei utilizar a função groupy para agrupar por pais e depois utilizarei a função nunique para a coluna cuisines_number
# irei utilizar a função nunique para ficar somente os restaurantes unicos e depois irei utilizar o sort_values para ooderna
# E - data frame e 'country',  'cuisines_number'

In [74]:
aux = df1.loc[:,['country','cuisines_number']].groupby(['country']).nunique().sort_values(by='cuisines_number', ascending=False).reset_index().iloc[0,0]
aux

'India'

## 5. Qual o nome do país que possui a maior quantidade de avaliações feitas?

In [ ]:
# S - Irei entregar o nome do Pais que mais possui avaliações
# P - irei selecionar as colunas de 'country',  'votes' 
# Irei utilizar a função groupy para agrupar por pais e depois utilizarei a função sum para a coluna votes
# irei  sort_values para ooderna
# E - data frame e 'country',  'votes'

In [80]:
aux = (df1.loc[:,['country','votes']].groupby(['country'])
                                    .sum()
                                    .sort_values(by='votes', ascending=False)
                                    .reset_index()
                                    .iloc[0,0])

aux

'India'

## 6. Qual o nome do país que possui a maior quantidade de restaurantes que fazem entrega?

In [ ]:
# S - Irei entregar o nome do Pais que mais possui restaurantes fazendo entregas
# P - irei selecionar as colunas de 'country',  'is_delivering_now' , 'restaurant_id'
# irei selecionar apenas as linhas dcom o valor 1 na coluna Is delivering now do dataframe
# Irei utilizar a função groupy para agrupar por pais e depois utilizarei a função nunique para a coluna restaurant_id
#para saber somente os restaurantes unicos
# irei  sort_values para ooderna
# E - data frame e 'country',  'is_delivering_now' , 'restaurant_id'

In [89]:
aux = (df1.loc[df1['is_delivering_now'] == 1,['country','restaurant_id']].groupby(['country'])
                                                                        .nunique()
                                                                        .sort_values(by='restaurant_id', ascending=False)
                                                                        .reset_index()
                                                                        .iloc[0,0])
aux

'India'

## 7. Qual o nome do país que possui a maior quantidade de restaurantes que aceitam reservas?

In [81]:
# S - Irei entregar o nome do Pais que mais possui restaurantes fazendo reservas
# P - irei selecionar as colunas de 'country',  'has_table_booking' , 'restaurant_id'
# irei selecionar apenas as linhas dcom o valor 1 na coluna has_table_booking do dataframe
# Irei utilizar a função groupy para agrupar por pais e depois utilizarei a função nunique para a coluna restaurant_id
#para saber somente os restaurantes unicos
# irei  sort_values para ooderna
# E - data frame e 'country',  'has_table_booking' , 'restaurant_id'

Index(['restaurant_id', 'restaurant_name', 'country', 'city', 'address',
       'locality', 'locality_verbose', 'longitude', 'latitude', 'cuisines',
       'cuisines_number', 'average_cost_for_two', 'currency',
       'has_table_booking', 'has_online_delivery', 'is_delivering_now',
       'price_range', 'price_type', 'aggregate_rating', 'rating_color',
       'color_name', 'rating_text', 'votes'],
      dtype='object')

In [92]:
aux = (df1.loc[df1['has_table_booking'] == 1 , ['country','restaurant_id']].groupby(['country'])
                                                                           .nunique()
                                                                           .sort_values(by='restaurant_id', ascending=False)
                                                                           .reset_index()
                                                                           .iloc[0,0])
aux

'India'

## 8. Qual o nome do país que possui, na média, a maior quantidade de avaliações registrada?

In [ ]:
#So Nome do pais que possui o maior valor medio de avaliações
#P Irei selecionar as colunas de country, votes 
# após irei utilizar a função groupy para agrupar por pais e depois irei calcular a media dos votos por pais
#D data frame , as colunas country, votes

In [98]:
aux = df1.loc[:,['country','votes']].groupby(['country']).mean().sort_values(by='votes', ascending=False).reset_index().iloc[0,0]
aux

'Indonesia'

## 9. Qual o nome do país que possui, na média, a maior nota média registrada?

In [ ]:
#So Nome do pais que possui o maior nota media de avaliações
#P Irei selecionar as colunas de country, aggregate_rating 
# após irei utilizar a função groupy para agrupar por pais e depois irei calcular a media dos votos por pais
#D data frame , as colunas country, aggregate_rating

In [102]:
aux = df1.loc[:,['country','aggregate_rating']].groupby(['country']).mean().sort_values(by='aggregate_rating', ascending=False).reset_index().iloc[0,0]
aux

'Indonesia'

## 10. Qual o nome do país que possui, na média, a menor nota média registrada?

In [ ]:
#So Nome do pais que possui a menor  nota media de avaliações
#P Irei selecionar as colunas de country, aggregate_rating 
# após irei utilizar a função groupy para agrupar por pais e depois irei calcular a media dos votos por pais
#D data frame , as colunas country, aggregate_rating

In [104]:
aux = df1.loc[:,['country','aggregate_rating']].groupby(['country']).mean().sort_values(by='aggregate_rating', ascending=True).reset_index().iloc[0,0]
aux

'Brazil'

## 11. Qual a média de preço de um prato para dois por país?

In [ ]:
#Irei dar uma tabela com o preço medio para dois por país
#P Irei selecionar as colunas de country, average_cost_for_two 
# após irei utilizar a função groupy para agrupar por pais e depois irei calcular a media dos votos por pais
#D data frame , as colunas country, aggregate_rating

In [110]:
aux = df1.loc[:,['country','currency','average_cost_for_two']].groupby(['country','currency']).mean().sort_values(by='average_cost_for_two', ascending=False).reset_index()
aux

                     country                currency  average_cost_for_two
0                  Indonesia  Indonesian Rupiah(IDR)         303000.000000
1                  Australia               Dollar($)         138959.783333
2                  Sri Lanka   Sri Lankan Rupee(LKR)           2579.375000
3                Philippines        Botswana Pula(P)           1227.825000
4                      India      Indian Rupees(Rs.)            704.400514
5               South Africa                 Rand(R)            339.228324
6                      Qatar         Qatari Rial(QR)            174.000000
7       United Arab Emirates      Emirati Diram(AED)            153.716667
8                  Singapure               Dollar($)            141.437500
9                     Brazil      Brazilian Real(R$)            138.812500
10                    Turkey        Turkish Lira(TL)            128.584906
11                New Zeland           NewZealand($)             62.154812
12  United States of America               Dollar($)             55.029840
13                   England               Pounds(£)             43.510000
14                    Canada               Dollar($)             41.861111

# Cidade

## 1. Qual o nome da cidade que possui mais restaurantes registrados?

In [ ]:
#S O nome da cidade que mais possui restaurantes registrados
#P Selecionar as colunas city, restaurant_id
#Irei utilizar a função grouby e a função nunique que faram o agrupamento e contar somente os restaurantes unicos, 
#depois utilizarei o sort_values e selecionarei a linha que tiver mais restaurante
#Edataframe, colunas city, restaurant_id

In [15]:
aux = df1.loc[:, ['city','restaurant_id']].groupby(['city']).nunique().sort_values(by='restaurant_id', ascending=False).reset_index().iloc[0,0]
aux

'Abu Dhabi'

## 2. Qual o nome da cidade que possui mais restaurantes com nota média acima de 4?

In [ ]:
#S O nome da cidade que mais possui restaurantes com nota média acima de 4
#P Selecionar as colunas city, restaurant_id, aggregate_rating
# irei filtrar as linhas da coluna aggregate_rating para somente a nota media acima de 4
#Irei utilizar a função grouby e a função nunique que faram o agrupamento e contar somente os restaurantes unicos, 
#depois utilizarei o sort_values e selecionarei a linha que tiver mais restaurante
#Edataframe, colunas city, restaurant_id , aggregate_rating

In [19]:
aux = df1.loc[df1['aggregate_rating']>4,['city','restaurant_id']].groupby(['city']).nunique().sort_values(by='restaurant_id', ascending=False).reset_index().iloc[0,0]
aux

'Bangalore'

## 3. Qual o nome da cidade que possui mais restaurantes com nota média abaixo de 2.5?

In [ ]:
#S O nome da cidade que mais possui restaurantes com nota média abaixo de 2.5
#P Selecionar as colunas city, restaurant_id, aggregate_rating
# irei filtrar as linhas da coluna aggregate_rating para somente a nota media abaixo de 2.5
#Irei utilizar a função grouby e a função nunique que faram o agrupamento e contar somente os restaurantes unicos, 
#depois utilizarei o sort_values e selecionarei a linha que tiver mais restaurante
#Edataframe, colunas city, restaurant_id , aggregate_rating

In [20]:
aux = df1.loc[df1['aggregate_rating']<2.5,['city','restaurant_id']].groupby(['city']).nunique().sort_values(by='restaurant_id', ascending=False).reset_index().iloc[0,0]
aux

'Gangtok'

## 4. Qual o nome da cidade que possui o maior valor médio de um prato para dois?

In [ ]:
#S O nome da cidade que possui o maior valor de prato medio para dois
#P Irei selecionar as colunas de city,average_cost_for_two
# irei agrupar utilizando a função groupby e tirar as medias através da função mean e depois 
# colocar em ordem com a função sort_values
#E data frame colunas city,average_cost_for_two

In [24]:
aux = df1.loc[:,['city','average_cost_for_two']].groupby(['city']).mean().sort_values(by='average_cost_for_two', ascending=False).reset_index().iloc[0,0]
aux

'Adelaide'

## 5. Qual o nome da cidade que possui a maior quantidade de tipos de culinária distintas?

In [ ]:
#SO nome da cidade que possui maior variedade de tipos de colinaria
#P Irei selecionar as colunas com a função loc e depois agrupar com a função groupby
# logo após irei selecionar os valores unicos e contalos 
# irei order com a função sort_values e reseta o index selecionando a primeira linha 
#EData Frame colunas city,cuisines_number

In [41]:
aux = df1.loc[:, ['city','cuisines_number']].groupby(['city']).nunique().sort_values(by='cuisines_number', ascending=False).reset_index().iloc[0,0]
aux

'Birmingham'

## 6. Qual o nome da cidade que possui a maior quantidade de restaurantes que fazem reservas?

In [ ]:
# S - Irei entregar o nome da Cidade que mais possui restaurantes fazendo reservas
# P - irei selecionar as colunas de 'city',  'has_table_booking' , 'restaurant_id'
# irei selecionar apenas as linhas dcom o valor 1 na coluna has_table_booking do dataframe
# Irei utilizar a função groupy para agrupar por pais e depois utilizarei a função nunique para a coluna restaurant_id
#para saber somente os restaurantes unicos
# irei  sort_values para ooderna
# E - data frame e 'city',  'has_table_booking' , 'restaurant_id'

In [45]:
aux = df1.loc[df1['has_table_booking']==1, ['city','restaurant_id']].groupby(['city']).nunique().sort_values(by='restaurant_id',ascending=False).reset_index().iloc[0,0]
aux

'Bangalore'

## 7. Qual o nome da cidade que possui a maior quantidade de restaurantes que fazem entregas?

In [ ]:
# S - Irei entregar o nome da CIdade que mais possui restaurantes fazendo entregas
# P - irei selecionar as colunas de 'city',  'is_delivering_now' , 'restaurant_id'
# irei selecionar apenas as linhas dcom o valor 1 na coluna Is delivering now do dataframe
# Irei utilizar a função groupy para agrupar por pais e depois utilizarei a função nunique para a coluna restaurant_id
#para saber somente os restaurantes unicos
# irei  sort_values para ooderna
# E - data frame e 'country',  'is_delivering_now' , 'restaurant_id'

In [46]:
aux = df1.loc[df1['is_delivering_now']==1, ['city','restaurant_id']].groupby(['city']).nunique().sort_values(by='restaurant_id',ascending=False).reset_index().iloc[0,0]
aux

'Vadodara'

## 8. Qual o nome da cidade que possui a maior quantidade de restaurantes que aceitam pedidos online?

In [49]:
# S - Irei entregar o nome da CIdade que mais possui restaurantes fazendo entregas
# P - irei selecionar as colunas de 'city',  'has_online_delivery' , 'restaurant_id'
# irei selecionar apenas as linhas dcom o valor 1 na coluna Is delivering now do dataframe
# Irei utilizar a função groupy para agrupar por pais e depois utilizarei a função nunique para a coluna restaurant_id
#para saber somente os restaurantes unicos
# irei  sort_values para ooderna
# E - data frame e 'country',  'has_online_delivery' , 'restaurant_id'

In [48]:
aux = df1.loc[df1['has_online_delivery']==1, ['city','restaurant_id']].groupby(['city']).nunique().sort_values(by='restaurant_id',ascending=False).reset_index().iloc[0,0]
aux

'Bhopal'

# Restaurantes

## 1. Qual o nome do restaurante que possui a maior quantidade de avaliações?

In [ ]:
# S Irei informar o nome do Restaurante que possui maior quantidade de avaliações
# P irei selecionar as colunas de restaurant_name, restaurant_id e votes,
# utilizar a função groupby para agrupar por restaurant_name e restaurant_id e depis utilizar a função sum para somar as avaliações
# depois colocar em ordem com a função sort_values e reseta os indicis e selecionar a primeira linha
# E Data Frame , colunas restaurant_name,votes

In [22]:
aux = df1.loc[:,['restaurant_name','restaurant_id','votes']].groupby(['restaurant_name','restaurant_id']).sum().sort_values(by='votes', ascending=False).reset_index().iloc[0,0]
aux

'Bawarchi'

## 2. Qual o nome do restaurante com a maior nota média?

In [ ]:
# S O nome do restaurante com a maior nota média
# P Irei selecionar as colunas restaurant_id, colunas restaurant_name,aggregate_rating com a função loc
# Logo após irei utilizar a função sort_values para as colunas aggregate_rating,restaurant_id
# para que primeiro ele ordene as maiores notas e depois quem são os retaurentes mais antigos (encontrado pelo o menor Número de ID)
# E Data Frame ,  colunas restaurant_id,  restaurant_name , aggregate_rating

In [39]:
aux = df1.loc[:,['restaurant_id','restaurant_name','aggregate_rating']].sort_values(['aggregate_rating','restaurant_id'], ascending = [False,True]).reset_index().iloc[0,2]
aux

'Indian Grill Room'

## 3. Qual o nome do restaurante que possui o maior valor de uma prato para duas pessoas?

In [41]:
#S entregarei o nome do restaurante que possui o valor mais caro de um prato para duas pessoas
#P Irei selecionar as colunas colunas restaurant_id,restaurant_name,average_cost_for_two, com função loc
# logo após irei order os valores das colunas average_cost_for_two e restaurant_id, para saber qual é o restaurante mais caro e o mais antigo 
#E ddataframe, colunas restaurant_id,restaurant_name,average_cost_for_two,

In [46]:
aux = df1.loc[:,['restaurant_id','restaurant_name','average_cost_for_two']].sort_values(['average_cost_for_two','restaurant_id'],ascending=[False,True]).reset_index().iloc[0,2]
aux

"d'Arry's Verandah Restaurant"

## 4. Qual o nome do restaurante de tipo de culinária brasileira que possui a menor média de avaliação?

In [ ]:
# S O nome do rstaurante que possui culinaria Brasileira com a menor media de avaliação
# P Irei selecionas primeiro somente as linhas que possuem colinaria brasileira e depois as colunas restaurant_id,restaurant_name, aggregate_rating
# logo após irei order os valores das colunas aggregate_rating e restaurant_id, para saber qual é o restaurante menor avaliação  e o mais antigo 
# E data frame, colunas restaurant_id,restaurant_name, aggregate_rating , cuisines_number

In [52]:
aux = df1.loc[df1['cuisines_number'] =='Brazilian',['restaurant_id','restaurant_name','aggregate_rating'] ].sort_values(['aggregate_rating','restaurant_id'], ascending=[True,True]).reset_index().iloc[0,2]
aux

'Loca Como tu Madre'

## 5. Qual o nome do restaurante de tipo de culinária brasileira, e que é do Brasil, que possui a maior média de avaliação?

In [ ]:
# S irei entregar o restaurante que possui a maior media de aviação de colinaria brasileira e no pais Brasil
# P Irei selecionar as colunas country , restaurant_id,restaurant_name, aggregate_rating , cuisines_number
# nas linhas das colunas country e cuisines_number irei filtrar para somente aparecer as linhas que possuem pais Brasil e colinaria Brasileira
# Logo após irei utilizar a função loc para selecionar as colunas e irei utilizar a função sort Values para colocar em ordem e reseta o index para pegar o primeiro valor
# E data frame colunas country , restaurant_id,restaurant_name, aggregate_rating , cuisines_number

In [15]:
lins = (df1['country'] == 'Brazil') & (df1['cuisines_number'] =='Brazilian')
cols = ['restaurant_id','restaurant_name','aggregate_rating']
aux = df1.loc[lins,cols].sort_values(['aggregate_rating','restaurant_id'], ascending=[False,True]).reset_index().iloc[0,2]
aux

'Braseiro da Gávea'

## 6. Os restaurantes que aceitam pedido online são também, na média, os restaurantes que mais possuem avaliações registradas?

In [ ]:
#S O numero medio de avaliações dos restaurantes que aceitam ou não pedidos online
#P irei selecionar as colunas votes , has_online_delivery agrupando-as com função groupby por has_online_delivery
# logo apoís irei usar a função mean para tirar a media das avaliações e reseta o index
#E data frame , colunas votes , has_online_delivery

In [20]:
aux = df1.loc[:,['has_online_delivery','votes']].groupby(['has_online_delivery']).mean().reset_index().sort_values(by='votes',ascending=False)
aux

   has_online_delivery       votes
1                    1  838.821664
0                    0  479.421018

## 7. Os restaurantes que fazem reservas são também, na média, os restaurantes que possuem o maior valor médio de um prato para duas pessoas?

In [ ]:
#S O custo medio dedos restaurantes que fazem ou não reservas
#P irei selecionar as colunas average_cost_for_two , has_table_booking agrupando-as com função groupby por has_table_booking
# logo apoís irei usar a função mean para tirar a media dos valores  e reseta o index
#E data frame , colunas average_cost_for_two , has_table_booking

In [21]:
aux = df1.loc[:,['has_table_booking','average_cost_for_two']].groupby(['has_table_booking']).mean().reset_index().sort_values(by='average_cost_for_two', ascending=False)
aux

   has_table_booking  average_cost_for_two
1                  1          69998.423810
0                  0           3488.596866

## 8. Os restaurantes do tipo de culinária japonesa dos Estados Unidos da América possuem um valor médio de prato para duas pessoas maior que as churrascarias americanas (BBQ)?

In [ ]:
#S Irei apresentar uma tabela com o valor medio de uma prato para duas pessoas do tipo japones nos EUA e o valor da churrascaria BBQ
#P irei selecionar as linhas que contenham o pais EUA e sejam da colinaria Japonesa ou  do pais EUA da churrascaria BBQ
# depois selecionarei as colunas average_cost_for_two, cuisines utilizando a função groupby para agrupar e tira o valor medio com função mean
#E data frame colunas cuisines_number,country, average_cost_for_two, restaurant_name

In [29]:
line = (df1['country']=='United States of America') & (df1['cuisines_number']=='Japanese') | (df1['country']=='United States of America') & (df1['cuisines_number']=='BBQ')
aux = df1.loc[line,['cuisines_number','average_cost_for_two']].groupby(['cuisines_number']).mean().reset_index().sort_values(by='average_cost_for_two',ascending=False)
aux

  cuisines_number  average_cost_for_two
1        Japanese             56.406250
0             BBQ             39.642857

In [30]:
df1.loc[:, 'cuisines_number'].unique().tolist()

['Italian',
 'European',
 'Filipino',
 'American',
 'Korean',
 'Pizza',
 'Taiwanese',
 'Japanese',
 'Coffee',
 'Chinese',
 'Seafood',
 'Singaporean',
 'Vietnamese',
 'Latin American',
 'Healthy Food',
 'Cafe',
 'Fast Food',
 'Brazilian',
 'Argentine',
 'Arabian',
 'Bakery',
 'Tex-Mex',
 'Bar Food',
 'International',
 'French',
 'Steak',
 'German',
 'Sushi',
 'Grill',
 'Peruvian',
 'North Eastern',
 'Ice Cream',
 'Burger',
 'Mexican',
 'Vegetarian',
 'Contemporary',
 'Desserts',
 'Juices',
 'Beverages',
 'Spanish',
 'Thai',
 'Indian',
 'Mineira',
 'BBQ',
 'Mongolian',
 'Portuguese',
 'Greek',
 'Asian',
 'Author',
 'Gourmet Fast Food',
 'Lebanese',
 'Modern Australian',
 'African',
 'Coffee and Tea',
 'Australian',
 'Middle Eastern',
 'Malaysian',
 'Tapas',
 'New American',
 'Pub Food',
 'Southern',
 'Diner',
 'Donuts',
 'Southwestern',
 'Sandwich',
 'Irish',
 'Mediterranean',
 'Cafe Food',
 'Korean BBQ',
 'Fusion',
 'Canadian',
 'Breakfast',
 'Cajun',
 'New Mexican',
 'Belgian',
 'Cuban',
 'Taco',
 'Caribbean',
 'Polish',
 'Deli',
 'British',
 'California',
 'Others',
 'Eastern European',
 'Creole',
 'Ramen',
 'Ukrainian',
 'Hawaiian',
 'Patisserie',
 'Yum Cha',
 'Pacific Northwest',
 'Tea',
 'Moroccan',
 'Burmese',
 'Dim Sum',
 'Crepes',
 'Fish and Chips',
 'Russian',
 'Continental',
 'South Indian',
 'North Indian',
 'Salad',
 'Finger Food',
 'Mandi',
 'Turkish',
 'Kerala',
 'Pakistani',
 'Biryani',
 'Street Food',
 'Nepalese',
 'Goan',
 'Iranian',
 'Mughlai',
 'Rajasthani',
 'Mithai',
 'Maharashtrian',
 'Gujarati',
 'Rolls',
 'Momos',
 'Parsi',
 'Modern Indian',
 'Andhra',
 'Tibetan',
 'Kebab',
 'Chettinad',
 'Bengali',
 'Assamese',
 'Naga',
 'Hyderabadi',
 'Awadhi',
 'Afghan',
 'Lucknowi',
 'Charcoal Chicken',
 'Mangalorean',
 'Egyptian',
 'Malwani',
 'Armenian',
 'Roast Chicken',
 'Indonesian',
 'Western',
 'Dimsum',
 'Sunda',
 'Kiwi',
 'Asian Fusion',
 'Pan Asian',
 'Balti',
 'Scottish',
 'Cantonese',
 'Sri Lankan',
 'Khaleeji',
 'South African',
 'Drinks Only',
 'Durban',
 'World Cuisine',
 'Izgara',
 'Home-made',
 'Giblets',
 'Fresh Fish',
 'Restaurant Cafe',
 'Kumpir',
 'Döner',
 'Turkish Pizza',
 'Ottoman',
 'Old Turkish Bars',
 'Kokoreç']

# Tipos de Culinária

## 1. Dos restaurantes que possuem o tipo de culinária italiana, qual o nome do restaurante com a maior média de avaliação?

In [ ]:
#S Informar o nome do Restaurante do tipo de culinaria italina o que possui maior media de avaliação
#P irei selecionar somente as linhas que contenham culinaria italiana
# Logo após irei ordenar as colunas por aggregate_rating, restaurant_id para saber o mais bem avaliado e o restaurante mais antigo
# irei reseta index e selecionar o primeiro restaurante
#E data frame colunas , restaurant_id,restaurant_name,cuisines_number,aggregate_rating

In [16]:
line = df1['cuisines_number']=='Italian'
cols =['restaurant_id','restaurant_name','aggregate_rating']
aux = df1.loc[line,cols].sort_values(['aggregate_rating','restaurant_id'], ascending=[False, True]).reset_index().iloc[0,2]
aux

'Darshan'

## 2. Dos restaurantes que possuem o tipo de culinária italiana, qual o nome do restaurante com a menor média de avaliação?

In [ ]:
#S Informar o nome do Restaurante do tipo de culinaria italina o que possui menor media de avaliação
#P irei selecionar somente as linhas que contenham culinaria italiana
# Logo após irei ordenar as colunas por aggregate_rating, restaurant_id para saber o mais mal avaliado e o restaurante mais antigo
# irei reseta index e selecionar o primeiro restaurante
#E data frame colunas , restaurant_id,restaurant_name,cuisines_number,aggregate_rating

In [17]:
line = df1['cuisines_number']=='Italian'
cols =['restaurant_id','restaurant_name','aggregate_rating']
aux = df1.loc[line,cols].sort_values(['aggregate_rating','restaurant_id'], ascending=[True, True]).reset_index().iloc[0,2]
aux

'Avenida Paulista'

## 3. Dos restaurantes que possuem o tipo de culinária americana, qual o nome do restaurante com a maior média de avaliação?

In [ ]:
#S Informar o nome do Restaurante do tipo de culinaria americana o que possui maior media de avaliação
#P irei selecionar somente as linhas que contenham culinaria american
# Logo após irei ordenar as colunas por aggregate_rating, restaurant_id para saber o mais bem avaliado e o restaurante mais antigo
# irei reseta index e selecionar o primeiro restaurante
#E data frame colunas , restaurant_id,restaurant_name,cuisines_number,aggregate_rating

In [19]:
line = df1['cuisines_number']=='American'
cols =['restaurant_id','restaurant_name','aggregate_rating']
aux = df1.loc[line,cols].sort_values(['aggregate_rating','restaurant_id'], ascending=[False, True]).reset_index().iloc[0,2]
aux

'Burger & Lobster'

## 4. Dos restaurantes que possuem o tipo de culinária americana, qual o nome do restaurante com a menor média de avaliação?

In [ ]:
#S Informar o nome do Restaurante do tipo de culinaria americana o que possui menor media de avaliação
#P irei selecionar somente as linhas que contenham culinaria american
# Logo após irei ordenar as colunas por aggregate_rating, restaurant_id para saber o mais mal avaliado e o restaurante mais antigo
# irei reseta index e selecionar o primeiro restaurante
#E data frame colunas , restaurant_id,restaurant_name,cuisines_number,aggregate_rating

In [20]:
line = df1['cuisines_number']=='American'
cols =['restaurant_id','restaurant_name','aggregate_rating']
aux = df1.loc[line,cols].sort_values(['aggregate_rating','restaurant_id'], ascending=[True, True]).reset_index().iloc[0,2]
aux

'Alston Bar & Beef'

## 5. Dos restaurantes que possuem o tipo de culinária árabe, qual o nome do restaurante com a maior média de avaliação?

In [ ]:
#S Informar o nome do Restaurante do tipo de culinaria Arabian o que possui maior media de avaliação
#P irei selecionar somente as linhas que contenham culinaria american
# Logo após irei ordenar as colunas por aggregate_rating, restaurant_id para saber o mais bem avaliado e o restaurante mais antigo
# irei reseta index e selecionar o primeiro restaurante
#E data frame colunas , restaurant_id,restaurant_name,cuisines_number,aggregate_rating

In [12]:
line = df1['cuisines_number']=='Arabian'
cols =['restaurant_id','restaurant_name','aggregate_rating']
aux = df1.loc[line,cols].sort_values(['aggregate_rating','restaurant_id'], ascending=[False, True]).reset_index().iloc[0,2]
aux

'Mandi@36'

## 6. Dos restaurantes que possuem o tipo de culinária árabe, qual o nome do restaurante com a menor média de avaliação?

In [ ]:
#S Informar o nome do Restaurante do tipo de culinaria Arabian o que possui menor media de avaliação
#P irei selecionar somente as linhas que contenham culinaria american
# Logo após irei ordenar as colunas por aggregate_rating, restaurant_id para saber o mais mal avaliado e o restaurante mais antigo
# irei reseta index e selecionar o primeiro restaurante
#E data frame colunas , restaurant_id,restaurant_name,cuisines_number,aggregate_rating

In [13]:
line = df1['cuisines_number']=='Arabian'
cols =['restaurant_id','restaurant_name','aggregate_rating']
aux = df1.loc[line,cols].sort_values(['aggregate_rating','restaurant_id'], ascending=[True, True]).reset_index().iloc[0,2]
aux

'Raful'

## 7. Dos restaurantes que possuem o tipo de culinária japonesa, qual o nome do restaurante com a maior média de avaliação?

In [ ]:
#S Informar o nome do Restaurante do tipo de culinaria Japanese o que possui maior media de avaliação
#P irei selecionar somente as linhas que contenham culinaria american
# Logo após irei ordenar as colunas por aggregate_rating, restaurant_id para saber o mais bem avaliado e o restaurante mais antigo
# irei reseta index e selecionar o primeiro restaurante
#E data frame colunas , restaurant_id,restaurant_name,cuisines_number,aggregate_rating

In [14]:
line = df1['cuisines_number']=='Japanese'
cols =['restaurant_id','restaurant_name','aggregate_rating']
aux = df1.loc[line,cols].sort_values(['aggregate_rating','restaurant_id'], ascending=[False, True]).reset_index().iloc[0,2]
aux

'Sushi Samba'

## 8. Dos restaurantes que possuem o tipo de culinária japonesa, qual o nome do restaurante com a menor média de avaliação?

In [ ]:
#S Informar o nome do Restaurante do tipo de culinaria Japanese o que possui menor media de avaliação
#P irei selecionar somente as linhas que contenham culinaria american
# Logo após irei ordenar as colunas por aggregate_rating, restaurant_id para saber o mais mal avaliado e o restaurante mais antigo
# irei reseta index e selecionar o primeiro restaurante
#E data frame colunas , restaurant_id,restaurant_name,cuisines_number,aggregate_rating

In [15]:
line = df1['cuisines_number']=='Japanese'
cols =['restaurant_id','restaurant_name','aggregate_rating']
aux = df1.loc[line,cols].sort_values(['aggregate_rating','restaurant_id'], ascending=[True, True]).reset_index().iloc[0,2]
aux

'Banzai Sushi'

## 9. Dos restaurantes que possuem o tipo de culinária caseira, qual o nome do restaurante com a maior média de avaliação?

In [ ]:
#S Informar o nome do Restaurante do tipo de culinaria Home-made o que possui maior media de avaliação
#P irei selecionar somente as linhas que contenham culinaria american
# Logo após irei ordenar as colunas por aggregate_rating, restaurant_id para saber o mais bem avaliado e o restaurante mais antigo
# irei reseta index e selecionar o primeiro restaurante
#E data frame colunas , restaurant_id,restaurant_name,cuisines_number,aggregate_rating

In [16]:
line = df1['cuisines_number']=='Home-made'
cols =['restaurant_id','restaurant_name','aggregate_rating']
aux = df1.loc[line,cols].sort_values(['aggregate_rating','restaurant_id'], ascending=[False, True]).reset_index().iloc[0,2]
aux

'Kanaat Lokantası'

## 10. Dos restaurantes que possuem o tipo de culinária caseira, qual o nome do restaurante com a menor média de avaliação?

In [ ]:
#S Informar o nome do Restaurante do tipo de culinaria Home-made o que possui menor media de avaliação
#P irei selecionar somente as linhas que contenham culinaria american
# Logo após irei ordenar as colunas por aggregate_rating, restaurant_id para saber o mais mal avaliado e o restaurante mais antigo
# irei reseta index e selecionar o primeiro restaurante
#E data frame colunas , restaurant_id,restaurant_name,cuisines_number,aggregate_rating

In [17]:
line = df1['cuisines_number']=='Home-made'
cols =['restaurant_id','restaurant_name','aggregate_rating']
aux = df1.loc[line,cols].sort_values(['aggregate_rating','restaurant_id'], ascending=[True, True]).reset_index().iloc[0,2]
aux

'GurMekan Restaurant'

## 11. Qual o tipo de culinária que possui o maior valor médio de um prato para duas pessoas?

In [ ]:
#S Informar qual o tipo de culinaria tem o maior valor médio de um prato para duas pessoas
#P Irei selecionar as colunas 'average_cost_for_two', 'cuisines'
#Logo após irei utilizar a função groupby para acrupar por tipo de culinaria cuisines_number
# Depois utilizar a função max para me informar o maior valor e pedir para ordernar pelo maior para menor e depois resetar o index e selecionar a primeira linha
#E data frame e as colunas 'average_cost_for_two', 'cuisines'

In [17]:
(df1.loc[:, ['average_cost_for_two', 'cuisines_number'] ]
                                         .groupby('cuisines_number')
                                         .max()
                                         .sort_values('average_cost_for_two', ascending=False)
                                         .reset_index()).head(1)

     cuisines_number  average_cost_for_two
0  Modern Australian              25000017

## 12. Qual o tipo de culinária que possui a maior nota média?

In [ ]:
#S Informar qual o tipo de culinaria tem o maior nota médio
#P Irei selecionar as colunas 'average_cost_for_two', 'cuisines'
#Logo após irei utilizar a função groupby para acrupar por tipo de culinaria cuisines_number
# Depois utilizar a função max para me informar o maior valor e pedir para ordernar pelo maior para menor e depois resetar o index e selecionar a primeira linha
#E data frame e as colunas 'aggregate_rating', 'cuisines_number'

In [13]:
(df1.loc[:, ['aggregate_rating', 'cuisines_number'] ]
                                         .groupby('cuisines_number')
                                         .max()
                                         .sort_values('aggregate_rating', ascending=False)
                                         .reset_index()).head(1)

                            cuisines  aggregate_rating
0  Filipino, International, Southern               4.9

## 13. Qual o tipo de culinária que possui mais restaurantes que aceitam pedidos online e fazem entregas?

In [ ]:
#S Informar qual o tipo de culinaria que mais possui restaurantes que aceitam pedidos online e fazer entregas
#P irei selecionar apenas as linhas dos restaurentes que fazem entrega e aceitam pedidos onlines
# logo irei selecionar as colunas 'restaurant_id', 'cuisines_number' e as linhas filtradas do data frame 
# irei agrupar por cuisines_number e pedir para contrar os restaurantes e ordernar do maio para o menor
#irei resetar o index e selecionar a primeira linha 
# Depois utilizar a função max para me informar o maior valor e pedir para ordernar pelo maior para menor e depois resetar o index e selecionar a primeira linha
#E data frame e as colunas 'has_online_delivery', 'is_delivering_now' , 'restaurant_id' , 'cuisines_number'

In [20]:
lines = (df1['has_online_delivery'] == 1) & (df1['is_delivering_now'] == 1)

(df1.loc[lines, ['restaurant_id', 'cuisines_number'] ]
                                         .groupby('cuisines_number')
                                         .count()
                                         .sort_values('restaurant_id', ascending=False)
                                         .reset_index()).head(1)

  cuisines_number  restaurant_id
0    North Indian            317